@tailwind base;
@tailwind components;
@tailwind utilities;





@layer components {
  .flex-main {
    @apply flex justify-between items-center
  }

  .full-screen {
    @apply h-screen w-full text-center
  }

  .full-screen-fixed {
    @apply fixed flex flex-col full-screen
  }

  .hover-scale {
    @apply hover:scale-110 hover:bg-tertiary hover:text-secondary border border-primary transition-main rounded-lg font-[700]
  }
  
  .input-form-style {
    @apply w-full p-3 mb-4 border border-gray-300 rounded-lg focus:outline-none focus:border-primary bg-primary_acc transition-main
  }

  .period {
    @apply text-primary
  }

  .option {
    @apply flex items-center w-full p-4 my-1 text-gray-500 hover:text-tertiary hover:bg-secondary2 transition relative
  }

  .active-opt {
    @apply text-tertiary 
  }

  .active-opt::after {
    @apply content-[''] absolute bottom-[19%] left-[-5px] h-[60%] rounded-[7px] w-[4%] bg-primary
  }
  
  .transition-main {
    transition-duration: .6s;
  }

  .anim-main {
    animation: rise 1s ease;
    @apply transition-main
  }

  .anim-main-delay {
    animation: rise 1s ease;
    animation-delay: 1s;
    @apply transition-main
  }

  /* For sub-text on landing page */
  .fade {
    transition: opacity 1s ease-in-out; /* Controls the duration and easing of the transition */
  }
  
  .fade.in {
    opacity: 1; /* Fully visible */
  }
  
  .fade.out {
    opacity: 0; /* Fully transparent */
  }

  @keyframes rise {
    from {
      transform: translateY(100px);
      opacity: 0;
    }

    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}